#//////////////////////////
# NPM
#//////////////////////////
node_modules/
package-lock.json

#//////////////////////////
# IDE Folders
#//////////////////////////
.vscode/
.idea/

#//////////////////////////
# macOS Files
#//////////////////////////
.DS_Store
